@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1, h3 {
  margin: 0;
  color: initial;
}

a {
  text-decoration: none;
  color: inherit;
}

/*main{
    // .functioning,.restaurants{
        // padding: 0 1.5rem;
   // }

}*/
header {
  padding: 0.5rem 0rem;
  box-shadow: 0px 1px 5px gray;
  position: relative;
}
header h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  gap: 1rem;
  padding-right: 2rem;
}

.explore-resto {
  text-align: center;
  padding: 1rem 0 3.5rem 0;
  background-color: #f8f8f8;
}
.explore-resto h2 {
  font-size: 1.6rem;
}
.explore-resto p {
  font-size: 1.1rem;
}
.explore-resto button {
  margin-top: 1rem;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 0.95rem;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.explore-resto button:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.functioning {
  padding: 1.5rem;
}
.functioning ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 800px) {
  .functioning ul {
    flex-direction: row;
  }
}
.functioning li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1.2rem;
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.functioning li:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
}
.functioning li:hover i {
  color: #9356DC;
}
.functioning li i {
  font-size: 1.2rem;
  color: gray;
}
.functioning li p {
  font-weight: 500;
}
.functioning li span {
  position: absolute;
  font-size: 0.825rem;
  left: -0.7rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  text-align: center;
  padding: 4px 8px;
}

.restaurants {
  padding: 2rem 1.5rem;
  background-color: #f8f8f8;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 800px) {
  .restaurants .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants .cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
@media (min-width: 800px) {
  .restaurants .cards .card {
    flex-grow: 1;
    flex-basis: 45%;
  }
}
.restaurants .cards .card__img {
  height: 11rem;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .cards .card__img.card__img1 {
  background-image: url("../../assets/restaurant1.jpg");
}
.restaurants .cards .card__img.card__img2 {
  background-image: url("../../assets/restaurant2.jpg");
}
.restaurants .cards .card__img.card__img3 {
  background-image: url("../../assets/restaurant3.jpg");
}
.restaurants .cards .card__img.card__img4 {
  background-image: url("../../assets/restaurant4.jpg");
}
.restaurants .cards .card__desc {
  position: relative;
  margin: 1rem 0.7rem auto;
  color: gray;
}
.restaurants .cards .card__desc p {
  margin-top: 0.3rem;
}
.restaurants .cards .card__desc i.fa-regular {
  font-size: 1.5rem;
  position: absolute;
  right: 0.6rem;
  top: 0;
}
.restaurants .cards .card--new::before {
  content: "Nouveau";
  position: absolute;
  padding: 0.4rem 0.8rem;
  text-align: center;
  background-color: #99E2D0;
  top: 0.8rem;
  right: 0.8rem;
  border-radius: 0.3rem;
  color: #217460;
  font-size: 0.9rem;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
