@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
}

footer p {
  margin: 0;
}

h3, h4 {
  margin: 0;
  color: initial;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  padding: 0.5rem 0rem;
  box-shadow: 0px 1px 5px gray;
  position: relative;
}
header h1 {
  text-align: center;
  font-size: 1.8rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  gap: 1rem;
  padding-right: 2rem;
}

.explore-resto {
  text-align: center;
  padding: 1rem 0 3.5rem 0;
  background-color: #f8f8f8;
}
.explore-resto h2 {
  font-size: 1.6rem;
}
.explore-resto p {
  font-size: 1.1rem;
}
.explore-resto button {
  margin-top: 1rem;
  color: white;
  padding: 1rem 1.5rem;
  font-size: 0.95rem;
  border-radius: 1.5rem;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.explore-resto button:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.functioning {
  padding: 1.5rem;
}
.functioning ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 800px) {
  .functioning ul {
    flex-direction: row;
  }
}
.functioning li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1.2rem;
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.functioning li:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
}
.functioning li:hover i {
  color: #9356DC;
}
.functioning li i {
  font-size: 1.2rem;
  color: gray;
}
.functioning li p {
  font-weight: 500;
}
.functioning li span {
  position: absolute;
  font-size: 0.825rem;
  left: -0.7rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  text-align: center;
  padding: 4px 8px;
}

.restaurants {
  padding: 2rem 1.5rem;
  background-color: #f8f8f8;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 800px) {
  .restaurants .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurants .card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
@media (min-width: 800px) {
  .restaurants .card {
    flex-grow: 1;
    flex-basis: 45%;
  }
}
.restaurants .card__img {
  height: 11rem;
  background-size: cover;
  background-position: 50% 60%;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card__img.card__img1 {
  background-image: url("../../assets/restaurant1.jpg");
}
.restaurants .card__img.card__img2 {
  background-image: url("../../assets/restaurant2.jpg");
}
.restaurants .card__img.card__img3 {
  background-image: url("../../assets/restaurant3.jpg");
}
.restaurants .card__img.card__img4 {
  background-image: url("../../assets/restaurant4.jpg");
}
.restaurants .card__desc {
  position: relative;
  padding: 1rem 0.7rem 0rem 0.7rem;
  color: gray;
}
.restaurants .card__desc::before {
  font: var(--fa-font-regular);
  content: "\f004";
  position: absolute;
  font-size: 1.5rem;
  right: 1.5rem;
  top: 1rem;
  color: gray;
}
.restaurants .card__desc::after {
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  font-size: 1.5rem;
  right: 1.5rem;
  top: 1rem;
  color: transparent;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  transform: scale(0);
  transition: transform 500ms ease-in-out;
  transform-origin: bottom;
}
.restaurants .card__desc p {
  margin-top: 0.3rem;
}
.restaurants .card__desc:hover::after {
  transform: scale(1);
}
.restaurants .card--new::before {
  content: "Nouveau";
  position: absolute;
  padding: 0.4rem 0.8rem;
  text-align: center;
  background-color: #99E2D0;
  top: 0.8rem;
  right: 0.8rem;
  border-radius: 0.3rem;
  color: #217460;
  font-size: 0.9rem;
  font-weight: 500;
}

footer {
  background-color: #343434;
  color: white;
  padding: 1.5rem;
}
footer .heading {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
footer p {
  margin-bottom: 0.3rem;
}
footer p i {
  margin-right: 0.3rem;
  font-size: 0.8rem;
}
footer p i.fa-smaller {
  font-size: 0.65em;
}

@keyframes btn-cheked {
  from {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
header a {
  position: absolute;
  top: 50%;
  left: 1rem;
  font-size: 1.3rem;
  transform: translateY(-50%);
}

.resto-banner {
  background-image: url(../../assets/restaurant1.jpg);
  height: 25vh;
  background-size: cover;
  background-position: 50% 60%;
}

.resto-name {
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
  margin-top: -3rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f8f8f8;
}
.resto-name h2 {
  font-size: 1.7rem;
  position: relative;
}
.resto-name h2::before {
  font: var(--fa-font-regular);
  content: "\f004";
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: 0.3rem;
  color: gray;
}
.resto-name h2::after {
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: 0.3rem;
  color: transparent;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  transform: scale(0);
  transition: transform 500ms ease-in-out;
  transform-origin: bottom;
}
.resto-name:hover h2::after {
  transform: scale(1);
}

.menu {
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 800px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}
.menu h3::after {
  content: "";
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 2.5rem;
}
.menu__category {
  overflow: hidden;
  padding: 0.5rem 1rem;
}
.menu__content {
  position: relative;
  background: white;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}
.menu__content h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.15rem;
  font-weight: 500;
}
.menu__content p {
  margin: 0.2rem 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.96rem;
  font-weight: 300;
}
.menu__content:hover {
  cursor: pointer;
}
.menu__content:hover .menu__cheked {
  margin-right: 0rem;
}
.menu__content:hover .menu__cheked::after {
  animation: btn-cheked 1s ease-in-out;
}
.menu__desc {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.menu__price {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
.menu__cheked {
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  width: 4rem;
  margin-right: -4rem;
  transition: margin-right 1s ease-in-out;
}
.menu__cheked::after {
  font-family: "FontAwesome";
  content: "\f058";
  color: white;
  font-size: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
