@mixin box-shadow($spread:0px){
    box-shadow: 0px 0px 5px $spread rgba(0,0,0,0.7);
}
@mixin opacity($op:0.7){
    opacity: $op;
}
@mixin flex-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-row-center{
    display: flex;
    justify-content: center;
}
