@use "../utils/mixins" ;
.explore-resto {
    text-align: center;
    padding:1rem 0 3.5rem 0 ;
    background:#f6f6f6;; 
    & h2 {
        font-size: 1.6rem;
    }
    & p {
        font-size: 1.1rem;
    }
    & button {
        margin-top:1rem;
        color: white;
        padding: 1rem 1.5rem;
        font-size: 0.95rem;
        border-radius: 1.5rem;
        border: none;
        background: linear-gradient(#FF79DA, #9356DC);
        @include mixins.box-shadow;
        &:hover {
            @include mixins.opacity;
            @include mixins.box-shadow(5px);
        }
    }
}