@use "../utils/mixins" ;
@use "../utils/variables";    
.explore-resto {
    text-align: center;
    padding:1rem 0 3.5rem 0 ;
    background-color:lighten(gray,47%); 
    & h2 {
        font-size: 1.6rem;
    }
    & p {
        font-size: 1.1rem;
    }
    & button {
       @include mixins.btn-display;
    }
}