@use "../utils/mixins";
@use "../utils/variables";
.functioning {
    padding: 1.5rem;
    ul {
        list-style-type: none;
        @include mixins.flex-column;
        gap:1rem;
        @media (min-width:variables.$breakpoint){
        flex-direction:row ;
        }
    }
    li {
        @include mixins.flex-row-center;
        align-items: center;
        flex-grow: 1;
        gap: 1.2rem;
        position: relative;
        padding: 0.5rem 1rem;
        background-color:lighten(gray,47%);;
        border-radius: 20px;
        @include mixins.box-shadow;
        &:hover {
           opacity: 0.7;
           @include mixins.box-shadow(5px);
        }
        &:hover i {
            color: variables.$color-primary;    
        }
        i {
            font-size: 1.2rem;
            color: gray;
        }
        p{
            font-weight: 500;
        }
        span {
            position: absolute;
            font-size: 0.825rem;
            left:-0.7rem;
            border-radius: 50%;
            background-color: variables.$color-primary;
            color: white;
            text-align: center;
            padding: 4px 8px;
        }
    }
}

    