
@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
@keyframes end {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
}  

.container {
    position: fixed;
    background-color: white;
    opacity: 0.9;
    height: 100vh;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: end 300ms 1s ease-out forwards;
    transform-origin: top left;
}
  
.loader {
    height: 150px;
    width: 150px;
    border-top: solid 10px #FF79DA;
    border-radius: 50%;
    animation: spinner 0.33s;
    animation-iteration-count: 3;
} 

