@use "../utils/variables";
@use "../utils/mixins";
.restaurants{
    padding: 2rem 1.5rem;
    background-color:lighten(gray,47%);
    .cards{
        @include mixins.flex-column;
        gap:1rem;
        @media (min-width:variables.$breakpoint){
            flex-direction: row;
            flex-wrap: wrap;
        }
    }    
    .card{
        position:relative;
        @include mixins.flex-column;
        background-color: white;
        border-radius: 1rem;
        @include mixins.box-shadow;
        @media (min-width:variables.$breakpoint){
            flex-grow: 1;;
            flex-basis: 45%;
        }
        &__img{
            height:11rem;
            background-size:cover;
            background-position:50% 60%;
            border-radius: 1rem 1rem 0 0 ;
            @for $i from 1 through 4{
                &.card__img#{$i}{
                    background-image:url("../../assets/restaurant#{$i}.jpg") ;   
                }
            }
        }
        &__desc{
            position: relative;
            padding: 1rem 0.7rem 0rem 0.7rem;
            color:gray;
            @include mixins.heart-anim($top:1rem,$size:1.5rem);
            p{
                margin-top: 0.3rem;
            }    
            &:hover {
                &::after{
                    transform: scale(1);
                }
            }
        }
        &--new::before{
            content: "Nouveau";
            position:absolute;
            padding: 0.4rem 0.8rem;
            text-align: center;
            background-color: variables.$color-tertiary;
            top:0.8rem;
            right:0.8rem;
            border-radius:0.3rem;
            color:darken(variables.$color-tertiary,45%);
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}
